<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842221328247-41ehtgu54bpoi4q7ug2gklmaphh3u6jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842221328247-41ehtgu54bpoi4q7ug2gklmaphh3u6jr</string>
	<key>API_KEY</key>
	<string>AIzaSyC5100_VvbLmw_SXSjSSZfy2N64Q4mbpQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>842221328247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.shopWebview</string>
	<key>PROJECT_ID</key>
	<string>project-7422456198691077574</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7422456198691077574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842221328247:ios:cb5f3599731a9ab264f372</string>
	<key>DATABASE_URL</key>
	<string>https://project-7422456198691077574.firebaseio.com</string>
</dict>
</plist>